.thumbnail iframe {
    width: 1440px;
    height: 900px;
}

.thumbnail {
    position: relative;
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

.thumbnail:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thumbnail-container {
    width: calc(1440px * 0.5);
    height: calc(900px * 0.5);
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: coral;
}

.carousel {
    position: relative;
}
.carousel-item img {
    object-fit: cover;
}
#carousel-thumbs {
    background: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
}
#carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}
#carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
    border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}
@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
}
@media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: absolute;
    }
}
@media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: #ccccce;
    }
}
